<div class="badge panel panel-default">
  <div class="panel-body">
    <div class="icon">
      <%= image_tag badge.image.thumb, class: "float-left" %>
      <% if @user && @user.is_showcasing_badge?(badge) %>
        <%= image_tag "/images/checkmark.png", class: "checkmark" %>
      <% end %>
    </div>
    <h2>
      <%= link_to badge.name.ellipsis(40), badge_path(badge) %>
    </h2>
    <% unless badge.description.blank? %>
      <p><%= badge.description.ellipsis(50) %></p>
    <% end %>
  </div>
</div>
