<div class="badge panel panel-default">
  <div class="panel-body">
    <div class="icon">
      <%= image_tag badge.image.thumb, class: 'float-left' %>
    </div>
    <h3><%= link_to badge.name, badge_url(badge) %></h3>
    <p><%= badge.description %>
  </div>
</div>
