<p>Reset your password using the link below! Note the link will expire in two hours time and you will have to ask for another one.</p> 

<%= link_to "Reset password link", edit_password_reset_url(@user.reset_token, email: @user.email) %>


