<p>We received a request to reset your password. Please use the reset password link below.</p>

<%= link_to "Reset password link", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>If you ignore this message, your password will not be changed. After two hours, the link will automatically expire.</p>

<p>Thanks for using UC NeXt!</p> 



