<hr>
<p>
  <%= link_to "UCNext.org", root_url, style: @link_style %><br>
  <% if @user %>
    You can unsubscribe from these emails on your
    <%= link_to "profile preferences page", edit_user_url(@user), style: @link_style %>.
  <% end %>
</p>
