<p>
  <%= image_tag @badge.image.thumb %>
</p>
<p>
  <strong>Congratulations, you have received a <%= @badge.name %> badge!</strong>
</p>
<p>
  You can see all of your badges on your
  <%= link_to "badges page", user_badges_url(@user), style: @link_style %>.
</p>
