ul.badges {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    float: left;
    margin: 0 10px 10px 0;
  }
}

.badge {
  width: 360px;

  .icon {
    width: 120px;
    max-height: 120px;
    line-height: 120px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;

    .checkmark {
      position: absolute;
      top: 20px;
      right: 0;
    }
  }

  h3 {
    height: 40px;
    margin: 10px 0 5px 0;
    overflow: hidden;
    font-size: 16px;
  }

  p {
    height: 45px;
    overflow: hidden;
    font-size: 14px;
  }
}

.group-badge-icon {
  margin-right: 10px;
}
