h1, h2, h3, h4, h5, h6, p, .button_to:not(:last-child) .btn-block {
  margin-bottom: 1rem;
}

.margin-bottom, .panel {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  &:first-child {
    margin-top: 0.5rem;
  }
}