.list-group .list-group-item.row.bubbles {
  padding: 0;

  > div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.bubble-right-small {
  padding: 10px 10px 10px 20px;
  background-image: url(/images/bubbles/right_small.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  text-align: center;
}

.bubble-below {
  position: relative;
  top: -5px;
  width: 100px;
  height: 90px;
  background-image: url(/images/bubbles/below.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 20px 10px 10px 5px;
  font-size: 12px;
  line-height: 15px;

  .extra-padding {
    padding-top: 5px;
  }
}

.bubble-right-big {
  padding: 5px 5px 5px 15px;
  background-image: url(/images/bubbles/right_big.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 135px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: $headings-color;

  @media (max-width: $screen-sm-max) {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 15px;
  }
}
