footer {
  > ul {
    margin: 0;
    padding: 0;
    > li {
      list-style: none;
      display: inline;
      &:not(:last-child):after {
        padding: 0 2px 0 6px;
        content: '\2022';
        color: #999;
      }
    }
  }
}
