body > main {
  section {
    margin: 20px auto;

    &.padded-section {
      padding: 0 50px;
    }

    h1 {
      text-align: center;
    }
  }

  .wave-logo {
    max-width: 500px;
    float: right;
    margin-bottom: -15px;
  }
}
