.people-table {
  th {
    color: $brand-primary;
    text-transform: uppercase;
  }

  .avatar-cell {
    padding: 0;
    width: 40px;
  }
}

.social-icon {
  height: 20px;
}

.list-with-avatars {
  .list-group-item {
    padding: 5px;
  }

  .list-avatar {
    margin: -5px 5px -5px -5px;
  }
}
