<table width="100%" border="0" cellspacing="10%" cellpadding="10%">
    <tr>
        <td align="center">
          <%= image_tag "/images/email/Header.png" %>
        </td>
    </tr>
    <tr>
      <td>
        <p>Hi <%= @name %>,</p>
        <p>You have been made a founder of the idea <%= link_to @idea.name, idea_url(@idea.id) %></p>
        <p>Thanks for using UC NeXt!</p>
      </td>
    </tr>

    <tr>
      <td align="left">
        <p style="margin-bottom: 0px;">Thanks,</p>
        <p style="margin-top: 0px;">The UC Next Team</p>
      </td>
    </tr>
    
    <tr>
        <td align="right">
          <%= image_tag "/images/email/Footer.png" %>
          <hr style="margin: 0px;" />
          <h5 style="font-family: san-serrif; font-style: normal; color : #121212; margin-top: 0px; text-align: left;">If you don't want to receive these emails, please unsubscribe from your UC NeXt profile setting page.</h5>
        </td>
    </tr>
</table>