<div class="engagement-meter">
  <% Organization.all.each do |org| %>
    <div class="row">
      <div class="col-md-4 org-name">
        <%= org.name %>
      </div>
      <div class="col-md-8 progress-container">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= org.engagement_points(type) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= org.engagement_points_percent(type) %>%;">
            <span class="sr-only"><%= org.engagement_points(type) %> points</span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row hidden-xs hidden-sm">
    <div class="col-md-4"></div>
    <div class="col-md-8 engagement-footer">
      <% 10.times do %>
        <div class="ruler-line"></div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 text-center">
      COLLABORATION POINTS
    </div>
  </div>
</div>
