<nav>
  <ul class="nav navbar-nav">
    <li><a href="<%= users_url %>">People</a></li>
    <li><a href="<%= ideas_url %>">Ideas</a></li>
    <li><a href="<%= projects_url %>">Projects</a></li>
    <li><a href="<%= current_user ? logged_in_events_url : events_url %>">Events</a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>