<div class="row">
  <div class="col-sm-6">
    <h4>What "is" UC Next?</h4>
    <p>UC Next is an IT crowd sourced movement to bring about more UC System collaboration, more innovative ideation and IT community camaraderie towards our shared UC Mission of excellence in Education, Research and Service.</p>
    <p>It is a project that was born out of the (ITLC) Information Technology Leadership Council's Collaborative Technology Group (CTG). We presented our concept to the ITLC in the fall of 2014, did an alpha demo for them in February of 2015 and are launching our Beta version of the system at UCCSC 2015 @ UC Riverside!</p>
    <h4>What does the UC NEXT Platform do?</h4>
    <p>The UC NeXt Platform will allow passionate and inspired technologists to grow their innovative projects and ideas into broader system-wide collaborations. IT staff can “like” ideas, offer comments to improve them, and even volunteer their time towards helping grow them. Project Managers can search for specific expertise across the entire UC system. Engineers can engage with projects they have passion in and build their reputation.</p>
  </div>
  <div class="col-sm-6">
    <h4>What is the UC Next Platform?</h4>
    <p>UC NeXt is a community for UC IT staff to work on new ideas together.</p>
    <p style="text-align:center;">
      <img src="<%= asset_url 'images/about-features.png' %>" style="max-width:100%; width: 300px; margin-left:-40px;" alt="Ideas, projects, events, groups and people.">
    </p>
  </div>
</div>