<h2 class="valign-middle text-center">
  <%= image_tag "/images/nav_icons/about.png", { class: "nav-icon" } %>
  <span>About</span>
</h2>

<div class="row">
  <div class = "col-md-1"></div>
  <div class="col-md-4">
    <h1>What &quot;is&quot; UC Next?</h1>
    <p>UC Next is an IT crowd sourced movement to bring about more UC System collaboration, more innovative ideation and IT community camaraderie towards our shared UC Mission of excellence in Education, Research and Service.</p>
    <p>
      It is a project that was born out of the (ITLC)
      <a href="http://www.ucop.edu/information-technology-services/initiatives/information-technology-leadership-council.html">Information Technology Leadership Council's</a>
      Collaborative Technology Group (CTG). We presented our concept to the ITLC in the fall of 2014, did an alpha demo for them in February of 2015 and are launching our Beta version of the system at UCCSC 2015 @ UC Riverside!
    </p>

    <h1>What does the UC NeXt Platform do?</h1>
    <p>The UC NeXt Platform will allow passionate and inspired technologists to grow their innovative projects and ideas into broader system-wide collaborations. IT staff can &quot;like&quot; ideas, offer comments to improve them, and even volunteer their time towards helping grow them. Project Managers can search for specific expertise across the entire UC system. Engineers can engage with projects they have passion in and build their reputation.</p>
  </div>

  <div class = "col-md-1"></div>
    <div class="col-md-5">
    <h1>What is the UC NeXt Platform?</h1>
    <p>UC NeXt is a community for UC IT staff to work on new ideas together.</p>
    <p class="text-center">
      <%= image_tag "/images/about-features.png", {
        class: "about-features",
        alt:   "Ideas, projects, events, groups and people."
      } %>
    </p>
    <h1>
      <%= link_to "UC Next Engagement Meter", engagement_url %>
    </h1>
      <p>UC Next is all about incentivizing collaboration using gamification techniques. This includes a UC System wide Engagement meter, which allows the campus locations a friendly but competitive measure of engagement. Points are given to participants in different amounts for winning awards, submitting ideas and collaborating on projects.</p>
    <h1>
      <%= link_to "UC NeXt Badges", badges_url %>
    </h1>
    <p>Collaborating can be hard work. UC Next Badges are our new tool to recognize UC Technologist Leaders. By creating and awarding badges we can recoginize the unsung heros among us who go the extra mile and take on the hard task of doing their work in a way that works for the good of the system, their campus and not just their immediate need.</p>
  </div>
  <div class = "col-md-1"></div>
</div>
