<h2 class="valign-middle text-center">
  <%= image_tag "/images/nav_icons/about.png", { class: "nav-icon" } %>
  <span>About</span>
</h2>

<div class="row" style = "margin-bottom: 50px;">
  <div class = "col-md-1"></div>

  <div class="col-md-4">
    <h1>What &quot;is&quot; UC Next?</h1>
    <p>UC Next is a University of California project that OIT's Mobile and Web Strategy, Education and Research group participates in building and continuing to evolve, working with a collaborative team from across the system. If you are interested in participating, please contact the UC Technical Architect Joshua Selsky at <a href="mailto:jselsky@oit.ucla.edu">jselsky@oit.ucla.edu</a>.</p>

    <h1>What &quot;is&quot; the UC Next Movement?</h1>
    <p>It is a UC IT "crowd sourced" movement aimed at bringing about more UC System collaboration, innovative ideation and IT community camaraderie towards our shared UC Mission of excellence in Education, Research and Servce.</p>

    <h1>Where did UC Next come from?</h1>
    <p>The project was initiated by the <a href = "http://www.ucop.edu/information-technology-services/initiatives/information-technology-leadership-council.html">(ITLC) Information Technology Leadership Council's</a> Collaborative Technology Group (CTG) annual examination of it's charge/mission. With the support of the ITLC, the UC Next project began a pilot phase after initially being pitched in the fall of 2014 at the ITLC meeting. An &quot;alpha&quot; version was demonstrated in February of 2015, and the CTG and UC Next dev group was able to pull off a Beta launch at the 2015 UCCSC conference @ UC Riverside in the middle of August.</p>
  </div>

  <div class = "col-md-1"></div>

    <div class="col-md-5">
    <h1>What is the UC NeXt Platform?</h1>
    <p>UC NeXt is a community for UC IT staff to work on new ideas together.</p>
    <p class="text-center">
      <%= image_tag "/images/about-features.png", {
        class: "about-features",
        alt:   "Ideas, projects, events, groups and people."
      } %>
    </p>
    <h1>
      <%= link_to "UC Next Engagement Meter", engagement_url %>
    </h1>
      <p>UC Next is all about incentivizing collaboration using gamification techniques. This includes a UC System wide Engagement meter, which allows the campus locations a friendly but competitive measure of engagement. Points are given to participants in different amounts for winning awards, submitting ideas and collaborating on projects.</p>
    <h1>
      <%= link_to "UC NeXt Badges", badges_url %>
    </h1>
    <p>Collaborating can be hard work. UC Next Badges are our new tool to recognize UC Technologist Leaders. By creating and awarding badges we can recoginize the unsung heros among us who go the extra mile and take on the hard task of doing their work in a way that works for the good of the system, their campus and not just their immediate need.</p>
  </div>
  <div class = "col-md-1"></div>
</div>
