<h1>Your NeXt Ideas</h1>

<h4>Looking to get involved?</h4>

<p>Check out these cool ideas and projects looking that might be of interest...</p>

<div class="row">
  <div class="col-md-6">
    <section class="panel panel-default">
      <header class="panel-heading">
        <h4 class="panel-title">Ideas</h4>
      </header>
      <div class="panel-body">
        <ul>
          <% Idea.top_voted(5).each do |idea| %>
            <% unless @idea.abandoned? %>
              <li><%= link_to idea.name, idea %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section class="panel panel-default">
      <header class="panel-heading">
        <h4 class="panel-title">Projects</h4>
      </header>
      <div class="panel-body">
        <ul>
          <% Project.top_voted(5).each do |project| %>
            <li><%= link_to project.name, project %></li>
          <% end %>
        </ul>
      </div>
    </section>
  </div>
</div>
