<h2 class="valign-middle text-center">
  <%= image_tag "/images/header_icons/engagement_meter.png", { class: "nav-icon" } %>
  <span>UC Next Engagement Meter</span>
</h2>

<div class="row">
  <div class="col-md-6">
    <h1>Engagement Meter</h1>
    <p>UC Next is all about incentivizing collaboration using gamification techniques. This includes a UC System wide Engagement meter, which allows the campus locations a friendly but competitive measure of engagement. Points are given to participants in different amounts for winning awards, submitting ideas and collaborating on projects.</p>

    <%= render partial: "shared/engagement_meter", locals: { type: :full_list } %>
  </div>

  <div class="col-md-6">
    <h1>How to get points:</h1>
    <div class="panel panel-default">
      <div class="panel-body">
        <ol>
          <li>Create a project: ADD 5 points; delete a project: SUBTRACT 5 points</li>
          <li>Like a project: ADD 1 point</li>
          <li>Comment on a project: ADD 2 points</li>
          <li>Create an idea: ADD 3 points; delete an idea: SUBTRACT 3 points</li>
          <li>Like an idea: ADD 1 point</li>
          <li>Comment on an idea: ADD 2 points</li>
          <li>Create a group: ADD 3 points; delete a group: SUBTRACT 3 points (can only be done if you are the only person in the group)</li>
          <li>Join a group: ADD 1 point; leave a group: SUBTRACT 1 point</li>
          <li>Receive a Gold Sautter Award: ADD 50 points</li>
          <li>Receive a Silver Sautter Award: ADD 25 points</li>
        </ol>
      </div>
    </div>
  </div>
</div>
