.panel-table {
  border: 5px solid $pale-yellow;
  margin-bottom: 10px;

  .panel-cell {
    border: 1px solid $brand-primary;
    background-color: $pale-blue;
    padding: 10px;

    h4 {
      margin-top: 0;
    }

    .campus-logo {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  &.panel-table-secondary {
    border-color: #f0ad4e;
  }
}
