.profile {

  position: relative;

  header {
    overflow: auto;
  }
  
  .subtitle {

    color: #777;
    font-style: italic;

    &, p {
      font-size: 20px;
    }

    margin-bottom: 1rem;

  }

  figure.avatar {

    float: right;
    margin-bottom: 1rem;

  }

  .positions {

    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.5rem;
    }

    h4 {
      margin: 0 0 0.2rem;
    }

  }

  h3, h4, h5 {
    &:first-child {
      margin-top: 0;
    }
  }

}