<footer class="container-fluid">
  <div class="container">
    <div>
      <a href="https://twitter.com/UCNextNews">
        <img src="/images/footer/twitter.png" class="footer-icon">
      </a>
      <a href="https://www.facebook.com/UCNextConnect">
        <img src="/images/footer/facebook.png" class="footer-icon">
      </a>
    </div>

    <ul class="list-inline">
      <li><%= link_to "About", about_url %></li>
      <li><a href="mailto:ucnextsupport@ucsc.edu">Contact</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>

    <p>Copyright &copy; 2015 UC Regents. All Rights Reserved.</p>
  </div>
</footer>
