<footer class="container-fluid text-center">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">Legal</a></li>
  </ul>
  <p><small><strong>Copyright &copy; 2014 UC Regents. All Rights Reserved.</strong></small></p>
</footer>