@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
@import url(//fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700,700italic);

$brand-primary: #0054a6;
$pale-blue: #dfeaf3;
$pale-yellow: #fff9ab;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 16px;
$font-size-small: 10px;
$line-height-base: 1.5;

$font-size-h1: 28px;
$font-size-h2: 24px;
$font-size-h3: 19px;
$headings-font-weight: 600;
$headings-line-height: 1.2;
$headings-color: $brand-primary;

$text-color: #121212;
$link-color: #9c5500;
$link-hover-color: $link-color;

$border-radius-base: 5px;

$btn-font-weight: bold;
$btn-default-color: #1d4a86;
$btn-hover-color: #ffffff;

$panel-bg: $pale-blue;
$panel-body-padding: 10px;
$panel-heading-padding: 10px;
$panel-border-radius: 0;
$panel-inner-border: $brand-primary;
$panel-footer-bg: $panel-bg;
$panel-default-border: $panel-inner-border;
$panel-default-heading-bg: #e0ebf4;

$input-border: #70a4d6;
$input-border-radius: 0;
$form-group-margin-bottom: 10px;

$list-group-bg: #ffffff;
$list-group-border: transparent;
$list-group-border-radius: 0;
$list-group-hover-bg: $list-group-bg;

$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffc277;

$table-bg-accent: $pale-blue;
