<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>UC NeXt Notification</title>
  </head>

  <body style="text-align: center;">
    <%= render :partial => "email_header" %>
    <%= yield %>
    <%= render :partial => "email_footer" %>
  </body>
</html>
